[submodule "postgresql"]
	path = postgresql
	url = https://git.postgresql.org/git/postgresql.git
[submodule "source/postgresql"]
	path = source/postgresql
	url = https://git.postgresql.org/git/postgresql.git
